@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
#map-wrapper,
#map {
  height: 100vh;
  width: 100vw;
}

#map-wrapper,
#map {
  height: calc(100vh - 90px);
}

#nav {
  height: 90px;
}
